@{
    ViewData["Title"] = "Doctors List";
}

@model Web.Areas.Admin.Models.DoctorModels.DoctorListModel

<div class="text-end mb-3">
    <a asp-area="Admin" asp-controller="Doctor" asp-action="Create" class="btn btn-primary">Add new</a>
</div>

<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var doctor in Model.Data)
    {
    <tr>
        <td>@doctor.UserName</td>
        <td>@doctor.Email</td>
        <td>@doctor.PhoneNumber</td>
        <td style="width: 160px">
            <a asp-area="Admin" asp-controller="Doctor" asp-action="Edit" asp-route-id="@doctor.Id" class="btn btn-primary">Edit</a> |
            <a asp-area="Admin" asp-controller="Doctor" asp-action="Delete" asp-route-id="@doctor.Id" class="btn btn-danger">Delete</a>
        </td>
    </tr>
    }
    </tbody>
</table>

<div>
    Showing @Model.Data.Count() of @Model.RecordsTotal records
</div>